body {
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.6;
}

h1 {
	color: orange;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
}

a, a:visited {
	color: orange;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


ul {
	text-align: center;
}

ul li {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	text-align: center;
}

ul li ul {
	padding: 10px;
	background: #cfcfcf;
	border-radius: 5px;
	margin: 5px 10px;
}

ul li ul li {
	display: block;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	background: #efefef;
}

tr {
	border-bottom: 2px solid orange;
}

td {
	text-align: center;
}
