<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Double</title>
	<style type="text/css" media="screen">
		.wrap {
			margin: 0 auto;
			width: 800px;
		}

		section {
			width: 475px;
			float: left;
			margin-right: 25px;
		}

		aside {
			width: 300px;
			float: left;
		}

		footer {
			clear: both;
			border-top: 1px solid #e3e3e3;
		}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, illum, sequi, natus, repudiandae assumenda reprehenderit id sunt ipsam autem nulla molestiae mollitia accusamus cumque neque aliquam numquam quaerat incidunt maiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, molestiae sint consequuntur nemo dicta rerum praesentium. Labore, adipisci, dolores, distinctio est dolorum illo eius sapiente alias aspernatur blanditiis doloremque quis.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, dicta, asperiores, ipsa quod quos fugit maxime expedita enim cumque quasi vitae mollitia aut ex veniam at minus distinctio obcaecati illum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, consequatur, voluptates saepe sequi deleniti omnis itaque illo eum nobis provident incidunt mollitia ipsam tenetur alias aperiam ullam ut exercitationem iure!</p>
		</section>
		<aside>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, delectus quas repellendus ex enim labore reprehenderit debitis architecto corporis alias aperiam neque cumque sequi itaque nam deserunt libero saepe nostrum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi eius commodi praesentium aliquid inventore maiores iure officiis libero? Laboriosam, nobis blanditiis maxime rerum fugiat molestias ducimus eligendi maiores alias quas.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, delectus quas repellendus ex enim labore reprehenderit debitis architecto corporis alias aperiam neque cumque sequi itaque nam deserunt libero saepe nostrum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi eius commodi praesentium aliquid inventore maiores iure officiis libero? Laboriosam, nobis blanditiis maxime rerum fugiat molestias ducimus eligendi maiores alias quas.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, delectus quas repellendus ex enim labore reprehenderit debitis architecto corporis alias aperiam neque cumque sequi itaque nam deserunt libero saepe nostrum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi eius commodi praesentium aliquid inventore maiores iure officiis libero? Laboriosam, nobis blanditiis maxime rerum fugiat molestias ducimus eligendi maiores alias quas.</p>
		</aside>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>