<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Single</title>
	<style type="text/css" media="screen">
		
		
		.wrap {
			width: 90%;
			margin: 0 auto;
		}

		h1, h2 {
			margin: 0;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}
		li {
			display: inline-block;
			width: 21%;
			padding: 1%;
			margin: 1%;
			vertical-align: baseline;
		}
		

		@media (max-width: 960px) {
			li {
				width: 29.333333333%;
			}
		}

		@media (max-width: 700px){
			li{
				width: 46%;
			}	
		}

		@media (max-width: 480px){
			li{
				width: 96%;
			}
		}

	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<ul>
				<li>
					<article>
						<h2>Article title</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, at, omnis cum ipsam tempore numquam voluptates commodi velit! Nisi, quas, officiis recusandae a quos natus tenetur ex aliquid. Quo, modi.</p>
					</article>
				</li><!--
			 --><li>
			 	<article>
						<h2>Article title</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, at, omnis cum ipsam tempore numquam voluptates commodi velit! Nisi, quas, officiis recusandae a quos natus tenetur ex aliquid. Quo, modi.</p>
					</article>
			 </li><!--
			 --><li>
			 	<article>
						<h2>Article title</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, at, omnis cum ipsam tempore numquam voluptates commodi velit! Nisi, quas, officiis recusandae a quos natus tenetur ex aliquid. Quo, modi.</p>
					</article>
			 </li><!--
			  --><li>
			 	<article>
						<h2>Article title</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, at, omnis cum ipsam tempore numquam voluptates commodi velit! Nisi, quas, officiis recusandae a quos natus tenetur ex aliquid. Quo, modi.</p>
					</article>
			 </li>
			</ul>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>